[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exhaustiveRasch"]
	path = exhaustiveRasch
	url = https://github.com/chrgrebe/exhaustiverasch
